# Python
__pycache__/
*.pyc
*.pyo
*.pyd
#. Environment files
.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Node.js / Frontend
node_modules/
dist/
.cache/
*.log
backend/logs/

# Astro
.astro/

# Mac/Windows system files
.DS_Store
Thumbs.db

# Docker
*.pid

# Others
*.sqlite3

# Cookies and sensitive files
cookies.txt
*.cookie
*.cookies