---
import AuthHeader from "./AuthHeader.astro";
import FormsContainer from "./FormsContainer.astro";
---

<div
  class="relative overflow-hidden bg-gray-800 rounded-2xl shadow-xl border border-gray-700"
>
  <AuthHeader />
  <FormsContainer />
</div>
