---
import BaseLayout from "../layout/BaseLayout.astro";
import RecentBooks from "../components/dashboard/RecentBooks.astro";
export const prerender = false;
---

<BaseLayout title="Dashboard - Reading Tracker">
  <div class="p-4">
    <!-- Recent Books -->
    <RecentBooks />
  </div>
</BaseLayout>
