---
import BaseLayout from "../layout/BaseLayout.astro";
export const prerender = false;
---

<BaseLayout title="Dashboard">
  <div class="p-4">
    <h1 class="text-2xl font-semibold mb-4">Dashboard</h1>
    <p>Welcome to your dashboard!</p>
  </div>
</BaseLayout>
