---
const { title = "Tracker" } = Astro.props;
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-page-gradient">
    <!-- Header Component -->
    <Header />

    <!-- Main content -->
    <main class="pt-16 flex-grow min-h-[calc(100vh-10rem)]">
      <slot />
    </main>

    <!-- Footer Component -->
    <Footer />
  </body>
</html>
